@import "tailwindcss";

@theme {
  --color-bg-main: #121212;
  --color-bg-sidebar-left: #1e1e1e;
  --color-bg-sidebar-right: #1a1a1a;
  --color-bg-header: #161616;
  --color-accent-blue: #3b82f6;
  --color-accent-blue-hover: #2563eb;
}

@layer base {
  body {
    @apply bg-bg-main text-gray-200 antialiased overflow-hidden;
  }
}

@layer utilities {
  .safe-pb {
    padding-bottom: calc(1rem + env(safe-area-inset-bottom, 0px));
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-800 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }
}
