@import "tailwindcss";

@theme {
  --color-bg-main: #080b11;
  --color-bg-sidebar-left: #0f131a;
  --color-bg-sidebar-right: #0d1017;
  --color-bg-header: #0d1017;
  --color-accent-blue: #00d2ff;
  --color-accent-blue-hover: #0ea5e9;
}

@layer base {
  body {
    @apply bg-bg-main text-gray-200 antialiased overflow-hidden;
  }
}

@layer utilities {
  .safe-pb {
    padding-bottom: calc(1rem + env(safe-area-inset-bottom, 0px));
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-800 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }
}
